image-8-icon {
  position: absolute;
  width: 328.21%;
  top: -0.6%;
  right: -228.21%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 47.13rem;
  object-fit: cover;
}

.iphone-14-1-child {
  position: absolute;
  width: 267.69%;
  top: -7.62rem;
  right: -100.26%;
  left: -67.44%;
  background: radial-gradient(50% 50%at 50% 50%,
      transparent,
      rgba(0, 0, 0, 0.25) 25.52%,
      rgba(0, 0, 0, 0.75));
  height: 52rem;
}

.iphone-14-1-item {
  position: absolute;
  width: 249.23%;
  top: 34.94rem;
  right: -103.59%;
  left: -45.64%;
  background: linear-gradient(180deg,
      transparent,
      rgba(0, 0, 0, 0.57) 26.56%,
      rgba(0, 0, 0, 0.63) 40.1%,
      #000 71.88%);
  height: 10.13rem;
}

.screenshot-2023-09-10-at-1015 {
  position: absolute;
  top: 2.19rem;
  left: 1.56rem;
  width: 6.38rem;
  height: 4.69rem;
  object-fit: cover;
}

.the-flagship-inter-school {
  position: absolute;
  width: 86.15%;
  top: calc(50% - 2600px);
  left: 6.92%;
  font-size: 1.13rem;
  line-height: 1.83rem;
  color: var(--color-gainsboro-100);
  display: flex;
  align-items: center;
  height: 6rem;
}

.iphone-14-1-inner,
.rectangle-div {
  position: absolute;
  top: calc(50% - 2756px);
  left: calc(50% - 152px);
  background-color: var(--color-mediumblue);
  width: 15rem;
  height: 2.19rem;
}

.rectangle-div {
  top: calc(50% - 2701px);
  left: calc(50% - 54px);
  width: 14.69rem;
  height: 1.88rem;
}

.concursus {
  top: calc(50% - 2769px);
  left: calc(50% - 67px);
  font-size: var(--font-size-31xl);
  width: 27.25rem;
  height: 8.13rem;
}

.concursus,
.magnificus,
.welcome-to {
  position: absolute;
  line-height: 6.8rem;
  display: flex;
  align-items: center;
}

.magnificus {
  top: calc(50% - 2794px);
  left: calc(50% - 164.36px);
  font-size: var(--font-size-31xl);
  width: 17.35rem;
  height: 4.52rem;
  transform: rotate(0.61deg);
  transform-origin: 0 0;
}

.welcome-to {
  top: calc(50% - 2862px);
  left: calc(50% - 170px);
  font-size: 1.88rem;
  width: 29.19rem;
  height: 7.13rem;
}

.ellipse-div {
  position: absolute;
  top: calc(50% - 2325px);
  left: calc(50% - 8px);
  border-radius: 50%;
  border: 2.5px solid var(--color-white);
  box-sizing: border-box;
  width: 1.94rem;
  height: 1.94rem;
}

.vector-icon {
  position: absolute;
  top: calc(50% - 2318px);
  left: calc(50% - 1px);
  width: 1.06rem;
  height: 1.06rem;
}

.group-child {
  position: absolute;
  top: 0.25rem;
  right: 1.34rem;
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(4px);
  width: 4.41rem;
  height: 2.51rem;
}

.rectangle-parent,
.sign-up {
  position: absolute;
  height: 3rem;
}

.sign-up {
  text-decoration: none;
  top: 0;
  right: 0;
  line-height: 3.05rem;
  color: inherit;
  display: flex;
  align-items: center;
  width: 5.31rem;
}

.rectangle-parent {
  top: 2.19rem;
  right: 0.88rem;
  width: 5.75rem;
  font-size: 1rem;
}

.what-is-magnificus {
  position: absolute;
  top: calc(50% - 2219px);
  left: calc(50% - 139px);
  font-size: var(--font-size-13xl);
  line-height: 2.39rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.38rem;
  height: 2.75rem;
}

.friday-17th-november {
  color: var(--color-mediumblue);
}

.its-a-single,
.magnificus-concursus-is-container {
  position: absolute;
  width: 81.03%;
  top: calc(50% - 2120px);
  left: 11.03%;
  font-size: var(--font-size-sm);
  line-height: 1.28rem;
  font-family: var(--font-inter);
  text-align: center;
  display: flex;
  align-items: center;
  height: 2.75rem;
  color: var(--color-gainsboro-100);
}

.its-a-single {
  width: 80%;
  top: calc(50% - 1994px);
  left: 11.28%;
  justify-content: center;
  height: 4.06rem;
}

.iphone-14-1-child1,
.rectangle-icon {
  position: absolute;
  top: calc(50% - 1867px);
  left: calc(50% - 152px);
  border-radius: var(--br-6xl);
  width: 19rem;
  height: 10.31rem;
}

.rectangle-icon {
  object-fit: cover;
}

.iphone-14-1-child1 {
  background: radial-gradient(50% 50%at 50% 50%, transparent, #000);
}

.rapid-fire-practical,
.round-1 {
  position: absolute;
  display: flex;
  align-items: center;
}

.rapid-fire-practical {
  top: calc(50% - 1727px);
  left: calc(50% - 243px);
  font-size: var(--font-size-5xs);
  line-height: 1.5rem;
  font-family: var(--font-inter);
  color: var(--color-gainsboro-100);
  text-align: center;
  justify-content: center;
  width: 19rem;
  height: 0.56rem;
}

.round-1 {
  top: calc(50% - 1752px);
  left: calc(50% - 128px);
  font-size: var(--font-size-5xl);
  line-height: 3.05rem;
  width: 9.88rem;
  height: 0.88rem;
}

.iphone-14-1-child2 {
  top: calc(50% - 1526px);
  left: calc(50% - 142px);
  width: 19rem;
  object-fit: cover;
}

.iphone-14-1-child2,
.iphone-14-1-child3,
.iphone-14-1-child4,
.iphone-14-1-child5 {
  position: absolute;
  border-radius: var(--br-6xl);
  height: 10.31rem;
}

.iphone-14-1-child3 {
  top: calc(50% - 1526px);
  left: calc(50% - 142px);
  background: radial-gradient(50% 50%at 50% 50%, transparent, #000);
  width: 19rem;
}

.iphone-14-1-child4,
.iphone-14-1-child5 {
  top: calc(50% - 1691px);
  left: calc(50% - 151px);
  width: 19.56rem;
}

.iphone-14-1-child4 {
  object-fit: cover;
}

.iphone-14-1-child5 {
  background: radial-gradient(50% 50%at 50% 50%, transparent, #000);
}

.general-practical {
  position: absolute;
  top: calc(50% - 1550px);
  left: calc(50% - 248px);
  font-size: var(--font-size-5xs);
  line-height: 1.5rem;
  font-family: var(--font-inter);
  color: var(--color-gainsboro-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19rem;
  height: 0.56rem;
}

.round-2 {
  top: calc(50% - 1575px);
  left: calc(50% - 128px);
  font-size: var(--font-size-5xl);
  line-height: 3.05rem;
  width: 9.88rem;
  height: 0.88rem;
}

.project-based,
.round-2,
.round-3 {
  position: absolute;
  display: flex;
  align-items: center;
}

.project-based {
  top: calc(50% - 1381px);
  left: calc(50% - 245px);
  font-size: var(--font-size-5xs);
  line-height: 1.5rem;
  font-family: var(--font-inter);
  color: var(--color-gainsboro-100);
  text-align: center;
  justify-content: center;
  width: 19rem;
  height: 0.56rem;
}

.round-3 {
  top: calc(50% - 1406px);
  left: calc(50% - 119px);
  font-size: var(--font-size-5xl);
  line-height: 3.05rem;
  width: 9.88rem;
  height: 0.88rem;
}

.acknowledging-students-as,
.themes-of-hackathon {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.themes-of-hackathon {
  top: calc(50% - 1283px);
  left: calc(50% - 142px);
  font-size: var(--font-size-13xl);
  line-height: 2.39rem;
  width: 18.38rem;
  height: 2.69rem;
}

.acknowledging-students-as {
  width: 77.69%;
  top: calc(50% - 1187px);
  left: 13.59%;
  font-size: var(--font-size-sm);
  line-height: 1.25rem;
  font-family: var(--font-inter);
  color: var(--color-gainsboro-100);
  height: 2.63rem;
}

.iphone-14-1-child6 {
  top: calc(50% - 1113px);
  left: calc(50% - 147px);
  background: linear-gradient(180deg, #0d0d0d);
  width: 19.56rem;
  height: 22.44rem;
}

.iphone-14-1-child6,
.iphone-14-1-child7,
.iphone-14-1-child8 {
  position: absolute;
  border-radius: var(--br-6xl);
}

.iphone-14-1-child7 {
  top: calc(50% - 887px);
  left: calc(50% + 8px);
  background: linear-gradient(180deg, #1a1a1a);
  width: 9.13rem;
  height: 7.69rem;
}

.iphone-14-1-child8 {
  top: calc(50% - 1101px);
  left: calc(50% - 135px);
  width: 18.06rem;
  height: 12.63rem;
  object-fit: cover;
}

.green {
  margin: 0;
}

.green-technologies-txt-container {
  line-break: auto;
  width: 100%;
}

.development-of-technology-driv-container,
.green-technologies {
  position: absolute;
  top: calc(50% - 862px);
  left: calc(50% - 133px);
  line-height: 1.94rem;
  display: flex;
  align-items: center;
  width: 9.38rem;
  height: 4.31rem;
}

.development-of-technology-driv-container {
  top: calc(50% - 880px);
  left: calc(50% + 20px);
  font-size: var(--font-size-xs);
  line-height: 1.13rem;
  font-family: var(--font-inter);
  width: 8.56rem;
  height: 7rem;
}

.iphone-14-1-child10,
.iphone-14-1-child9 {
  position: absolute;
  border-radius: var(--br-6xl);
}

.iphone-14-1-child9 {
  top: calc(50% - 735px);
  left: calc(50% - 149px);
  background: linear-gradient(180deg, #0d0d0d);
  width: 19.56rem;
  height: 22.44rem;
}

.iphone-14-1-child10 {
  top: calc(50% - 509px);
  left: calc(50% + 6px);
  background: linear-gradient(180deg, #1a1a1a);
  width: 9.13rem;
  height: 7.69rem;
}

.leveraging-technology,
.smart-cities {
  position: absolute;
  top: calc(50% - 484px);
  left: calc(50% - 135px);
  line-height: 1.94rem;
  display: flex;
  align-items: center;
  width: 9.38rem;
  height: 4.31rem;
}

.leveraging-technology {
  top: calc(50% - 502px);
  left: calc(50% + 18px);
  font-size: var(--font-size-xs);
  line-height: 1.13rem;
  font-family: var(--font-inter);
  width: 8rem;
  height: 7rem;
}

.iphone-14-1-child11,
.iphone-14-1-child12 {
  position: absolute;
  border-radius: var(--br-6xl);
}

.iphone-14-1-child11 {
  top: calc(50% - 357px);
  left: calc(50% - 147px);
  background: linear-gradient(180deg, #0d0d0d);
  width: 19.56rem;
  height: 22.44rem;
}

.iphone-14-1-child12 {
  top: calc(50% - 131px);
  left: calc(50% + 8px);
  background: linear-gradient(180deg, #1a1a1a);
  width: 9.13rem;
  height: 7.69rem;
}

.improving-the-online,
.retail-commerce {
  position: absolute;
  top: calc(50% - 106px);
  left: calc(50% - 133px);
  line-height: 1.94rem;
  display: flex;
  align-items: center;
  width: 9.38rem;
  height: 4.31rem;
}

.improving-the-online {
  top: calc(50% - 124px);
  left: calc(50% + 20px);
  font-size: var(--font-size-xs);
  line-height: 1.13rem;
  font-family: var(--font-inter);
  width: 8.56rem;
  height: 7rem;
}

.iphone-14-1-child13,
.iphone-14-1-child14 {
  position: absolute;
  border-radius: var(--br-6xl);
}

.iphone-14-1-child13 {
  top: calc(50% + 21px);
  left: calc(50% - 149px);
  background: linear-gradient(180deg, #0d0d0d);
  width: 19.56rem;
  height: 22.44rem;
}

.iphone-14-1-child14 {
  top: calc(50% + 247px);
  left: calc(50% + 6px);
  background: linear-gradient(180deg, #1a1a1a);
  width: 9.13rem;
  height: 7.69rem;
}

.development-of-technology-driv-container2,
.education {
  position: absolute;
  top: calc(50% + 272px);
  left: calc(50% - 135px);
  line-height: 1.94rem;
  display: flex;
  align-items: center;
  width: 9.38rem;
  height: 4.31rem;
}

.development-of-technology-driv-container2 {
  top: calc(50% + 254px);
  left: calc(50% + 18px);
  font-size: var(--font-size-xs);
  line-height: 1.13rem;
  font-family: var(--font-inter);
  width: 8.56rem;
  height: 7rem;
}

.iphone-14-1-child15,
.iphone-14-1-child16,
.iphone-14-1-child17 {
  position: absolute;
  top: calc(50% - 725px);
  left: calc(50% - 135px);
  border-radius: var(--br-6xl);
  width: 18.06rem;
  height: 12.63rem;
  object-fit: cover;
}

.iphone-14-1-child16,
.iphone-14-1-child17 {
  top: calc(50% - 342px);
}

.iphone-14-1-child17 {
  top: calc(50% + 36px);
  left: calc(50% - 138px);
  width: 17.94rem;
}

.frequently-asked-questions-fa {
  position: absolute;
  top: calc(50% + 453px);
  left: calc(50% - 150px);
  font-size: var(--font-size-13xl);
  line-height: 2.39rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19.56rem;
  height: 3.13rem;
}

.iphone-14-1-child18 {
  position: absolute;
  top: calc(50% + 539px);
  left: calc(50% - 135px);
  border-radius: var(--br-6xl);
  background: linear-gradient(180deg, #0d0d0d);
  width: 17.75rem;
  height: 11.13rem;
}

.do-i-need {
  position: absolute;
  top: calc(50% + 544px);
  left: calc(50% - 121px);
  line-height: 1.63rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.81rem;
  height: 5.63rem;
}

.the-hackathon-is {
  position: absolute;
  top: calc(50% + 636px);
  left: calc(50% - 115px);
  font-size: var(--font-size-xs);
  line-height: 1.13rem;
  font-family: var(--font-inter);
  display: inline-block;
  width: 15.69rem;
  height: 8.88rem;
}

.iphone-14-1-child19 {
  position: absolute;
  top: calc(50% + 735px);
  left: calc(50% - 135px);
  border-radius: var(--br-6xl);
  background: linear-gradient(180deg, #0d0d0d);
  width: 17.75rem;
  height: 16.94rem;
}

.what-should-i {
  position: absolute;
  top: calc(50% + 743px);
  left: calc(50% - 115px);
  line-height: 1.63rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.88rem;
  height: 5.56rem;
}

.participants-should-bring {
  position: absolute;
  top: calc(50% + 825px);
  left: calc(50% - 115px);
  font-size: var(--font-size-xs);
  line-height: 1.13rem;
  font-family: var(--font-inter);
  display: inline-block;
  width: 15.13rem;
  height: 10.13rem;
}

.iphone-14-1-child20 {
  position: absolute;
  top: calc(50% + 1032px);
  left: calc(50% - 147px);
  border-radius: var(--br-6xl);
  background: linear-gradient(180deg, #0d0d0d);
  width: 18.5rem;
  height: 16.88rem;
}

.can-i-start {
  position: absolute;
  top: calc(50% + 1038px);
  left: calc(50% - 143px);
  line-height: 1.63rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17.69rem;
  height: 9.19rem;
}

.no-all-project {
  position: absolute;
  top: calc(50% + 1179px);
  left: calc(50% - 114px);
  font-size: var(--font-size-xs);
  line-height: 1.13rem;
  font-family: var(--font-inter);
  display: inline-block;
  width: 16.56rem;
  height: 8.13rem;
}

.iphone-14-1-child21 {
  position: absolute;
  top: calc(50% + 1335px);
  left: calc(50% - 145px);
  border-radius: var(--br-6xl);
  background: linear-gradient(180deg, #0d0d0d);
  width: 18.5rem;
  height: 13.56rem;
}

.what-will-i-container {
  position: absolute;
  top: calc(50% + 1338px);
  left: calc(50% - 134px);
  line-height: 1.63rem;
  text-align: center;
  display: flex;
  align-items: center;
  width: 17.13rem;
  height: 8.94rem;
}

.you-will-need {
  position: absolute;
  top: calc(50% + 1460px);
  left: calc(50% - 124px);
  font-size: var(--font-size-xs);
  line-height: 1.13rem;
  font-family: var(--font-inter);
  display: inline-block;
  width: 17.25rem;
  height: 6.13rem;
}

.iphone-14-1-child22 {
  position: absolute;
  top: calc(50% + 1578px);
  left: calc(50% - 145px);
  border-radius: var(--br-6xl);
  background: linear-gradient(180deg, #0d0d0d);
  width: 18.5rem;
  height: 17.13rem;
}

.are-there-any-container {
  position: absolute;
  top: calc(50% + 1601px);
  left: calc(50% - 138px);
  line-height: 1.63rem;
  text-align: center;
  display: flex;
  align-items: center;
  width: 17.13rem;
  height: 8.81rem;
}

.nmshackathongmailcom {
  color: #0029ff;
}

.for {
  color: var(--color-white);
}

.the-primary-goal-container {
  position: absolute;
  top: calc(50% + 1653px);
  left: calc(50% - 130px);
  font-size: var(--font-size-xs);
  line-height: 1.13rem;
  font-family: var(--font-inter);
  white-space: pre-wrap;
  display: inline-block;
  width: 17.88rem;
  height: 7.19rem;
}

.iphone-14-1-child23 {
  position: absolute;
  top: calc(50% + 1888px);
  left: calc(50% - 145px);
  border-radius: var(--br-6xl);
  background: linear-gradient(180deg, #0d0d0d);
  width: 18.5rem;
  height: 13.69rem;
}

.is-there-a-container {
  position: absolute;
  top: calc(50% + 1913px);
  left: calc(50% - 133px);
  line-height: 1.63rem;
  text-align: center;
  display: flex;
  align-items: center;
  width: 17rem;
  height: 9.19rem;
}

.the-hackathon-is1 {
  position: absolute;
  top: calc(50% + 2051px);
  left: calc(50% - 126px);
  font-size: var(--font-size-xs);
  line-height: 1.13rem;
  font-family: var(--font-inter);
  display: inline-block;
  width: 16.13rem;
  height: 3.44rem;
}

.event-speakers {
  position: absolute;
  top: calc(50% + 2169px);
  left: calc(50% - 74px);
  font-size: var(--font-size-13xl);
  line-height: 2.39rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.81rem;
  height: 2.5rem;
}

.iphone-14-1-child24 {
  position: absolute;
  top: calc(50% + 2244px);
  left: calc(50% - 145px);
  border-radius: var(--br-6xl);
  background: linear-gradient(180deg, #0d0d0d);
  width: 18.5rem;
  height: 12.75rem;
}

.coming-soon {
  position: absolute;
  top: calc(50% + 2283px);
  left: calc(50% - 65px);
  font-size: 2.13rem;
  line-height: 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.63rem;
  height: 7.94rem;
}

.image-7-icon {
  position: absolute;
  height: calc(100% - 5614px);
  width: calc(100% + 400px);
  top: 346rem;
  right: -25rem;
  bottom: 4.88rem;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.iphone-14-1-child25,
.iphone-14-1-child26 {
  position: absolute;
  width: calc(100% + 497px);
  background: linear-gradient(180deg,
      transparent,
      rgba(0, 0, 0, 0.57) 26.56%,
      rgba(0, 0, 0, 0.63) 40.1%,
      #000 71.88%);
}

.iphone-14-1-child25 {
  height: calc(100% - 5832px);
  top: 354.44rem;
  right: -71.37rem;
  bottom: 10.06rem;
  left: 40.31rem;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}

.iphone-14-1-child26 {
  height: calc(100% - 5833px);
  top: 364.25rem;
  right: -16.5rem;
  bottom: 0.31rem;
  left: -14.56rem;
}

.iphone-14-1-child27 {
  position: absolute;
  height: calc(100% - 5624px);
  width: calc(100% + 601px);
  top: 346rem;
  right: -20.94rem;
  bottom: 5.5rem;
  left: -16.62rem;
  background: radial-gradient(50% 50%at 50% 50%,
      transparent,
      rgba(0, 0, 0, 0.25) 25.52%,
      rgba(0, 0, 0, 0.75));
}

.iphone-14-1-child28 {
  position: absolute;
  height: calc(100% - 5832px);
  width: calc(100% + 497px);
  top: 364.19rem;
  right: -16.75rem;
  bottom: 0.31rem;
  left: -14.31rem;
  background: linear-gradient(180deg,
      transparent,
      rgba(0, 0, 0, 0.57) 26.56%,
      rgba(0, 0, 0, 0.63) 40.1%,
      #000 71.88%);
}

.magnificus-concursus-2023 {
  position: absolute;
  height: calc(100% - 5933px);
  width: calc(100% - 185px);
  top: 372.69rem;
  left: 5.56rem;
  font-size: var(--font-size-sm);
  line-height: 1.56rem;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
}

.iphone-14-1 {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 376.38rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-inika);
}
